body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI",
    system-ui, "Ubuntu", "Droid Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #2d2d2d;
  color: white;
  overflow-x: hidden;
}

a {
  color: rgb(95, 214, 250);
}
