#workspace {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.left-btn-group,
.right-btn-group {
  margin-bottom: 2rem;
}

.box {
  height: 400px;
  width: 400px;
  background: black;
  margin-bottom: 2rem;
  padding: 1rem;
}

.child {
  display: inline-block;
  margin: 0 0.5rem 0.5rem 0;
  height: 100px;
  width: 100px;
}
